#clock {
	position: relative;
	width: 600px;
	margin: 0 auto;
}

#clock img {
	position: absolute;
}

#hour {
	/*position: absolute;*/
}

#minute {
	/*position: absolute;*/
}

#second {
	/*position: absolute;*/
}

#face {
	/*position: absolute;*/
}
